.login-container {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 15vh;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

img {
  width: 15vw;
}

.form-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
  padding: 40px 60px;
  width: 40vw;
}

.input-name {
  border: 1px solid #e1e5eb;
  display: block;
  padding: 12px 16px;
  width: 100%;
}

.button-entrar {
  background-color: #003be5;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 150%;
  padding: 8px 32px;
  width: 100%;
}
