.album-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  padding: 50px 0;
}

.album-pai {
  display: flex;
  gap: 60px;
  width: 80vw;
}

.album {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 240px;
}

.album img {
  border-radius: 6px;
  width: 100%;
}
