header {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

.header-container {
  align-items: center;
  background-color: #023031;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 30px;
}

.header-container img {
  height: fit-content;
  transform: scale(0.8);
  width: fit-content;
}

.usuario {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 36px;
  min-width: 150px;
  position: relative;
}

.usuario h4 {
  flex: 1;
  margin-right: 10px;
  text-align: center;
}

.nav-container {
  background-color: white;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 60px;
}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-container ul li {
  background-color: #f0f2f5;
  height: 60px;
  text-align: center;
  width: 33vw;
}

.nav-container ul li a {
  color: #2fc18c;
  display: inline-block;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  height: 60px;
  line-height: 55px;
  text-decoration: none;
  transition: 0.5s;
  width: 100%;
}

.nav-container ul li a:hover {
  background-color: #00a982c6;
  color: white;
}
